/* Write your CSS here */
.item1 {
  list-style-type: none;
}
button {
  background-color: transparent;
  border: none;
  outline: none;
  color: #7b8794;
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 500;
  border-bottom: 3px solid #7b8794;
}
.active-btn {
  color: #2563eb;
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: bold;
  border-bottom: 3px solid #2563eb;
}
